# Python
__pycache__/
*.py[cod]
*.so
.Python
venv/
env/
.venv*/
.env
*.log

# IDE
.vscode/
.idea/
*.swp

# Datos sensibles
*.key
*.pem
config/*.json
!config/*.template.json
paper-trading/*.xlsx
!paper-trading/*.template.xlsx

# Archivos del sistema
.DS_Store
Thumbs.db
